<html>
<head>
    <title>action_page</title>
</head>
<body>
    <p name="FirstName">First name:<%= FirstName %></p>
    <p name="LastName">Last name:<%= LastName %><br>
    <p name="total">total:<%= total %><br>
<script>
</script>
</body>
</html>