<html>
<head>
    <title>MVP計時器</title>
</head>
<body>
    <form action="/action_page">
    First name: <input type="text" name="FirstName" value=""><br>
    Last name: <input type="text" name="LastName" value=""><br>
    <input type="submit" value="Submit">
    </form>

<script type="text/javascript">
</script> 
</body>
</html>